.page-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 50vh;
    margin-right:180px;
    margin-left:180px;
    border-radius: 1%;
    background-color: #f3f3f3; /* Light gray background */
  }
  
  .content-container {
    width: 100%;
    max-width: 400px;
    padding: 30px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .page-title {
    font-size: 24px;
    margin-bottom: 20px;
    font-weight: bold;
    color: #333; /* Dark gray text color */
  }
  
  .input-label {
    font-size: 16px;
    margin-bottom: 10px;
    color: #444; /* Medium gray text color */
  }
  
  .input-field {
    width: 100%;
    padding: 10px;
    margin-top: 20px;
    border: 1px solid #ccc; /* Light gray border */
    border-radius: 4px;
    font-size: 16px;
    color: #333; /* Dark gray text color */
  }
  
  .form-footer {
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;
  }
  
  .next-button {
    padding: 7px 16px;
    background-color: #ffffff; /* Gray button color */
    color: #858585;
    border: 2px solid #535353;
    border-radius: 4px;
    cursor: pointer;
    font-size: 15px;
    font-weight: 700;
    margin-right: 5px;
    transition: background-color 0.3s;
  }
  
  .next-button:hover {
    background-color: #9b9b9b;
    color: white;
  }
  
  
.add-prototype-title {
  font-size: 25px;
  margin-top: 10px;
  color: #868686;
  font-weight: bold;
  margin-bottom: 25px;
}