/* LocalPrototypes.css */

/* Style for the main container */
.local-page {
    margin: 20px; 
    padding: 20px;
    background-color: #f0f0f0; /* Background color for the page */
  }

  .main-container {
    margin: auto;
    width: 40%;
    margin-top: 40px;
    padding: 40px;
    background-color: rgba(255, 255, 255, 0.5);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
  }
  
  
  /* Style for the heading */
  .local-page h1 {
    margin-top: 20px;
    font-size: 25px;
    color: rgb(105, 105, 105);
    font-weight: bold;
    margin-bottom: 40px;
    text-align: center;
  }
  
  /* Style for individual items (each item on a new line) */
/* LocalPrototypes.css */

/* Style for individual items */
.local-card {
    display: block;
    margin: 20px auto; /* Add margin to create space between items */
    width: 100%;
    padding: 10px;
    background-color: white;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); /* Light shadow effect */
    border-radius: 8px;
    text-decoration: none;
    color: #333;
    transition: background-color 0.2s ease;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60px; 
  }
  
  
  /* Rest of the styles remain the same */
  
  /* Hover effect for items */
  .local-card:hover {
    background-color: #f5f5f5;
    text-decoration: none;     
    color: #333;
    font-weight: bold;

  }
  
  .back-button {
    background-color: #c9c9c9; /* Button background color */
    color: #fff; /* Text color */
    border: none; /* Remove border */
    border-radius: 4px; /* Rounded corners */
    padding: 10px 16px; /* Padding around the text */
    cursor: pointer; /* Show pointer cursor on hover */
    font-size: 14px;
     /* Font size */
    transition: background-color 0.3s ease; /* Smooth transition for background color */
    align-self: flex-start;
  }
  
    /* Add hover effect */
    .back-button:hover {
      background-color: #a1a1a1;
      color: white;
      border: none;
      text-decoration: none;
    }
  
    .header {
        font-size: 27px;
        font-weight: bold;
        text-align: center;
        margin-top: 40px;
        margin-bottom: 40px;
    
      }