.prototype-container {
  margin: auto;
  margin-left: 25%;
}

.sticky-header {
  position: sticky;
  width: 100%;
  max-width: 100%;
  top: 0;
  background-color: #e7e7e7;
  height: 50px;
  z-index: 100;
  margin-top: 5px;
}

.field-section {
  position: relative;
  margin-top: 170px;
  background-color: #fff;
  border-radius: 5px;
  width: 100%;
  max-width: 100%;
  margin-bottom: 10px;
  border: 2px solid #dadadad3;
}

.fields {
  padding: 20px;
}

.header-info-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 5px;
  background-color: #fff;
  margin-top: 5px;
  border: 2px solid #dadadad3;
}

.delete-prototype-container {
  font-size: 16px;
  font-weight: 500;
  text-decoration: underline !important;
  display: inline-block;
}

.delete-prototype-button:hover {
  background-color: rgb(146, 4, 4);
  color: white;
}

.delete-prototype-button {
  display: inline-block;
  padding: 10px 15px;
  background-color: #f0f0f0;
  color: rgb(146, 4, 4);
  border: 2px solid rgb(146, 4, 4);
  font-weight: bold;
  border-radius: 4px;
  cursor: pointer;
  font-size: 12px;
  transition: background-color 0.3s;
  margin-left: 20px;
}

.info-section {
  flex: 1.4;
  padding: 20px;
}

h2 {
  margin-bottom: 15px;
  color: #333;
}

ul {
  list-style: none;
  padding: 0;
}

ul li p {
  margin-top: 5px;
  margin-bottom: 5px;
}

p {
  margin: 0;
  font-size: 15px;
}

span {
  font-weight: bold;
}

.field-value {
  color: #555;
}

.inherited-list {
  margin-top: 15px;
  font-size: 15px;
  color: #777;
}

.inheritance-section {
  margin-top: 20px;
  margin-bottom: 40px;
  padding: 20px;
  background-color: #fff;
  border-radius: 5px;
}

.inherited-prototypes,
.all-inherited-prototypes {
  margin: 0;
  font-size: 15px;
  margin-bottom: 5px;
}

.inherited-prototypes-alt-text {
  font-style: italic;
  font-size: 15px;
  margin-bottom: 12px;
  color: #777;
}

.inherited-prototypes-list {
  font-size: 15px;
  color: #777;
  font-weight: 400;
}

.with-padding {
  padding: 5px;
}

.with-right-padding {
  padding-right: 5px;
}

.inherited-prototypes-list:hover {
  font-size: 15px;
  text-decoration: none;
  font-weight: bold;
  color: #777;
}

.add-inheritance-input {
  display: flex;
  align-items: center;
  margin-top: 10px;
}

.select-dropdown {
  width: 300px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f7f7f7;
  font-size: 0.95rem;
  outline: none;
  cursor: pointer;
  transition: border-color 0.3s ease, background-color 0.3s ease;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-image: none;
}

.select-dropdown:hover,
.select-dropdown:focus {
  border-color: #949494;
  background-color: #fff;
}

.option:hover {
  background-color: #c4c4c4;
}

.option:hover {
  background-color: #cacaca;
}

.save-button,
.add-button {
  background-color: #868686;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 1rem;
  transition: background-color 0.3s ease;
}

.save-button:hover,
.add-button:hover {
  background-color: #8b8b8b;
}

.inherited-prototypes div,
.all-inherited-prototypes div {
  font-weight: bold;
  color: #000000;
  font-size: medium;
}

.info-list {
  margin-top: 15px;
  font-size: 15px;
  color: #777;
}

.prototype-header {
  flex: 0.8;
  font-size: 32px;
  font-weight: bold;
  text-align: left;
  color: darkgray;
  margin-right: 10px;
  margin-left: 30px;
}

.subheader {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
}

.subsubheader {
  font-size: 25px;
  margin-bottom: 10px;
  margin-top: 10px;
  color: gray;
  font-weight: bold;
  margin-left: 10px;
}

.add-inheritance-button:hover {
  background-color: #a1a1a1;
  color: white;
}

.add-inheritance-button {
  display: inline-block;
  padding: 10px 20px;
  background-color: #f0f0f0;
  color: black;
  border: 2px solid rgb(219, 219, 219);
  font-weight: bold;
  border-radius: 4px;
  cursor: pointer;
  margin-bottom: 10px;
  margin-top: 20px;
  font-size: 12px;
  transition: background-color 0.3s;
}

.add-field-button {
  display: inline-block;
  padding: 10px 15px;
  background-color: #f0f0f0;
  color: black;
  border: 2px solid rgb(219, 219, 219);
  font-weight: bold;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 10px;
  font-size: 11px;
  transition: background-color 0.3s;
}

.batch-actions-button {
  display: inline-block;
  padding: 10px 20px;
  background-color: #f0f0f0;
  color: black;
  border: 2px solid rgb(219, 219, 219);
  font-weight: bold;
  border-radius: 4px;
  cursor: pointer;
  margin-bottom: 10px;
  margin-top: 20px;
  font-size: 12px;
  transition: background-color 0.3s;
  position: absolute;
  right: 20px;
}

.batch-actions-button:hover {
  background-color: #c2c2c2;
}


.add-field-button {
  margin-left: 20px;
}

.add-field-button:hover,
.add-inheritance-button:hover {
  background-color: #c2c2c2;
}

.add-field-button:hover {
  background-color: #c2c2c2;
}

.add-field-form {
  padding: 60px;
}

.add-field-form h3 {
  font-size: 24px;
  margin-bottom: 30px;
  font-weight: bold;
  margin-top: 10px;
}

.add-new-field {
  margin: 10px;
}

.add-inheritance-form {
  padding: 60px;
}

.add-inheritance-form h3 {
  font-size: 24px;
  margin-bottom: 30px;
  font-weight: bold;
  margin-top: 10px;
}

.back-button {
  background-color: #c9c9c9;
  color: #fff;
  border: none;
  border-radius: 4px;
  padding: 10px 16px;
  cursor: pointer;
  font-size: 15px;
  transition: background-color 0.3s ease;
  align-self: flex-start;
}

.back-button:hover {
  background-color: #a1a1a1;
  color: white;
  border: none;
  text-decoration: none;
}

.add-inheritance-input {
  display: flex;
  align-items: center;
  margin-top: 10px;
  padding: 0%;
}

.add-inheritance-button:hover {
  background-color: #c2c2c2;
  color: black;
}

.save-button {
  background-color: #b3b3b3;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 8px 12px;
  cursor: pointer;
  font-size: .9rem;
  margin-top: 5px;
  margin-left: 15px;
  transition: background-color 0.3s ease;
}

.save-button:hover {
  background-color: #8b8b8b;
}

.cancel-button {
  color: #777777;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 0.8rem;
  text-decoration: underline;
  transition: background-color 0.3s ease;
  background: none;
}

.cancel-button:hover {
  color: #484848;
}

.dropdown-section {
  margin-top: 20px;
}

.cancel-field-button {
  color: #777777;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 0.9rem;
  text-decoration: underline;
  transition: background-color 0.3s ease;
  background: none;
}

.cancel-field-button:hover {
  color: #484848;
}

.save-field-button {
  background-color: #b3b3b3;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 8px 18px;
  cursor: pointer;
  font-size: 0.9rem;
  width: 80px;
  margin: 10px;
  margin-top: 20px;
  transition: background-color 0.3s ease;
  margin-right: 10px;
}

.field-button-container {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.save-field-button:hover {
  background-color: #8b8b8b;
}

.dropdown {
  font-size: large;
}

.save-inheritance-button {
  background-color: #b3b3b3;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 8px 18px;
  cursor: pointer;
  font-size: 0.9rem;
  width: 80px;
  margin: 10px;
  margin-top: 30px;
  transition: background-color 0.3s ease;
}

.cancel-inheritance-button {
  color: #777777;
  border: none;
  cursor: pointer;
  font-size: 0.9rem;
  text-decoration: underline;
  transition: background-color 0.3s ease;
  background: none;
  margin-top: 10px;
}

.inheritance-button-container {
  display: flex;
  justify-content: space-between;
  margin-top: 5px;
}

.alt-text {
  font-style: italic;
  font-size: 18px;
  color: rgba(128, 128, 128, 0.747);
  text-align: left;
  line-height: 1.7;
}

.alt-text-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px;
}

.inherited-section {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.inherited-prototypes-title {
  font-weight: bold;
  color: #000000;
  font-size: medium;
  margin-right: 10px;
}

.switch-container {
  display: flex;
  align-items: center;
  margin-left: 10px;
}

.switch-label {
  color: #777777;
  font-size: 0.8rem;
  font-weight: normal;
}

.hidden-row {
  background-color: green;
}

.inline-buttons {
  margin-top: 20px;
}

.fields-box {
  overflow-y: auto;
}

.add-prototype-title {
  font-size: 25px;
  margin-top: 10px;
  color: #868686;
  font-weight: bold;
  margin-bottom: 25px;
}

.add-action-batch-button {
  padding: 10px 20px;
  background-color: rgba(240, 240, 240, 0);
  color: black;
  border: 2px solid rgb(219, 219, 219);
  font-weight: bold;
  border-radius: 4px;
  cursor: pointer;
  margin-bottom: 10px;
  margin-top: 20px;
  font-size: 12px;
  transition: background-color 0.3s;
  margin-left: 10px;
}

.save-action-button {
  padding: 10px 20px;
  background-color: #e1e1e1;
  color: black;
  border: 2px solid rgb(219, 219, 219);
  font-weight: bold;
  border-radius: 4px;
  cursor: pointer;
  margin-bottom: 10px;
  margin-top: 20px;
  font-size: 12px;
  transition: background-color 0.3s;
}

.add-action-batch-button:hover {
  background-color: #8b8b8b;
}

.save-action-button:hover {
  background-color: #8b8b8b;
}

/* Add this CSS for the buttons */
.cancel-button,
.delete-button,
.add-to-batch-button {
  padding: 10px 20px;
  color: black;
  border: 2px solid rgb(219, 219, 219);
  font-weight: bold;
  border-radius: 4px;
  cursor: pointer;
  margin-bottom: 10px;
  font-size: 12px;
  transition: background-color 0.3s;
}

.cancel-button:hover {
  background-color: rgba(240, 240, 240, 0.7);
}

.delete-button:hover {
  background-color: #e1e1e1;
}

.add-to-batch-button:hover {
  background-color: #8b8b8b;
}