
.side-menu {
  width: 23%;
  position: fixed;
  margin-left: 30px;
  padding-left: 20px;
  color: gray;
  overflow-y: auto;
  transition: width 0.3s;
  top: 50%;
  left: 0;
  transform: translate(0, -50%);
  border-radius: 5px;
  padding: 10px;
  background-color: #ffffff;
  border: 2px solid #dadadad3; /* Add a border to the bottom of the sticky header */
}
  
.category-name {
  display: flex;
  align-items: center;
  font-weight: bold;
  justify-content: space-between;
  padding: 10px;
  font-size: 17px;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.2s ease;   
  background-color: #ffffff;
  color:#7e7e7e;
}  
    
 .category-name:hover {
    color: #c0c0c0; /* Background color for the expanded category */
  }
  
  .category-name.expanded {
    color: #c0c0c0; /* Background color for the expanded category */
  }
 
  .category {
    align-self: center;
    padding: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background-color: #ffffff;
    
}

  .category-content {
    background-color: #ffffff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    overflow-y: auto;    
    font-size: 11pt;

    }
    
  .content-scroll {
    max-height: 830px; /* Set a maximum height for the content area */
    overflow-y: auto; /* Enable scrolling within the content area */
    padding: 10px 20px 10px 20px;
    

  }
  
  .menu-link {
    text-decoration: none;
    color: #585858;
    display: block;
    padding: 8px;
    transition: background-color 0.3s; /* Add a smooth transition effect for background color */
  }
  
  .menu-link:hover {
    background-color: #cecece75;
    color: #585858;     
    text-decoration: none; /* Background color on hover */
  }
  
  .menu-link.selected {
    font-weight: bold; /* Make the selected item bold */
    background-color: #c5c5c5;
    color: #fff; /* Text color for the selected item */
  }

  /* Default styles for larger screens */


  .all-local{
    color:black;
  }

  .all-local:hover{
    text-decoration: none;
    color: #777;
  }

  .page {
    margin-left: 20px;
  }

  .create-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #f0f0f0;
    color: black;
    border: 2px solid rgb(219, 219, 219);
    font-weight: bold;
    border-radius: 4px;
    cursor: pointer;
    font-size: 12px;
    transition: background-color 0.3s;
  }
  
  .create-button:hover {
    background-color: #c2c2c2;
    text-decoration: none;
    color:black;  
  }

  .invisible-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #f0f0f000;
    color: rgba(0, 0, 0, 0);
    border: 2px solid rgba(219, 219, 219, 0);
    font-weight: bold;
    border-radius: 4px;
    cursor: pointer;
    font-size: 12px;
    transition: background-color 0.3s;
  }
  