.side-menu {
  width: 23%;
  max-width:23%;
  position: fixed;
  margin-left: 30px;
  padding-left: 20px;
  color: gray;
  overflow-y: auto;
  transition: width 0.3s;
  top: 50%;
  left: 0;
  transform: translate(0, -50%);
  border-radius: 5px;
  padding: 10px;
  background-color: #ffffff;
  border: 2px solid #dadadad3;
}

.category-name {
  display: flex;
  align-items: center;
  font-weight: bold;
  justify-content: space-between;
  padding: 10px;
  font-size: 17px;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.2s ease;
  background-color: #ffffff;
  color: #7e7e7e;
}

.category-name:hover {
  color: #c0c0c0;
}

.category-name.expanded {
  color: #c0c0c0;
}

.category {
  align-self: center;
  padding: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
}

.category-content {
  background-color: #ffffff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  overflow-y: auto;
  font-size: 11pt;
}

.content-scroll {
  max-height: 830px;
  height: 830px;
  overflow-y: auto;
  padding: 10px 20px 10px 20px;
}

.menu-link {
  text-decoration: none;
  color: #585858;
  display: block;
  padding: 8px;
  transition: background-color 0.3s;
}

.menu-link:hover {
  background-color: #cecece75;
  color: #585858;
  text-decoration: none;
}

.menu-link.selected {
  font-weight: bold;
  background-color: #c5c5c5;
  color: #fff;
}

.all-local {
  color: black;
}

.all-local:hover {
  text-decoration: none;
  color: #777;
}

.page {
  margin-left: 20px;
}

.create-button {
  display: inline-block;
  padding: 10px 20px;
  background-color: #f0f0f0;
  color: black;
  border: 2px solid rgb(219, 219, 219);
  font-weight: bold;
  border-radius: 4px;
  cursor: pointer;
  font-size: 12px;
  transition: background-color 0.3s;
}

.create-button:hover {
  background-color: #c2c2c2;
  text-decoration: none;
  color: black;
}

.invisible-button {
  display: inline-block;
  padding: 10px 20px;
  background-color: #f0f0f000;
  color: rgba(0, 0, 0, 0);
  border: 2px solid rgba(219, 219, 219, 0);
  font-weight: bold;
  border-radius: 4px;
  cursor: pointer;
  font-size: 12px;
  transition: background-color 0.3s;
}

.invisible-button:hover {
  display: inline-block;
  padding: 10px 20px;
  background-color: #f0f0f000;
  color: rgba(0, 0, 0, 0);
  border: 2px solid rgba(219, 219, 219, 0);
  font-weight: bold;
  border-radius: 4px;
  cursor: pointer;
  font-size: 12px;
  transition: background-color 0.3s;
}